/*External Style sheet */

body {background-color: #0F1111; color: white; font-family: arial, helvetica, sans-serif;}
h2 {text-align: center;}
.signin { background-color: aliceblue; border: 2px solid white; border-style: ridge; font-size: 0.9em; }
.signup {background-color: aliceblue; border-style: ridge; }
.mainpage{background-color: aliceblue; border-style: ridge; }
.main {text-align: center;}
a {text-decoration: none;}

.banner
{
    width: 100px; height: 15px; text-align: center; 
    padding: 0.5em; margin:1em; border-style: solid; border-color: white; 
}
.button {text-align: center;}



.header
{
    position:relative; left: 0px; right: 0px; margin-left: auto; margin-right: auto;
    width: 100px; height: 15px; text-align: center; 
    padding: 0.5em;  border-style: solid; border-color: white; 
    animation-name: movingtext; animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes movingtext
{
    from {transform: translate(-410px, 0px);}
    25% {transform: translate(-200px, 0px);}
    50% {transform: translate(0px, 0px);}
    75% {transform: translate(200px, 0px);}
    to {transform: translate(410px, 0px);}
}




img
{
    width: 250px;
    height: 175px;
    margin-top: 10px;
}
.product1{  transition: transform 2s; }
.product3{  transition: transform 2s; }

.product1:hover{ transform: rotate(360deg);}
.product3:hover{ transform: scale(1.2,1.2);}

.navigation_bar
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid white;
    margin: 1.5% auto;
    margin-left: auto;
    margin-right: auto;
}

.nav_item
{   
    text-align: center;
    margin: 10px;
    padding: 5px;
    color: white;
    text-decoration: none;
    border: solid white;
   
}
.nav_item a
{
    color: white;
    text-decoration: none;

}
.nav_item:hover {border: solid white;}



.main 
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.dod
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid white;
    margin: 1% auto;
}

.elec
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid white;
    margin: 1% auto;
}

.dresses
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid white;
    margin: 1% auto;
}

@media screen and (max-width : 480px){
    .navigation_bar, .main{
        flex-direction: column;
    }
}

@media screen and (max-width : 800px){
    .navigation_bar{
        flex-direction: column;
    }
}